<div>
    <h1>{{.PageTitle}}</h1>
</div>
<div>
    <h2>{{.}}</h2>
</div>
<div>
    <p> I am currently a Project Manager at Nike. Projects like this 
        help me get familiar with how day to day "things" work in my area. The things that 
        I am currently interested in: X
    </p>
    <ul>
        <li>Go, JS/Typescript, Python</li>
        <li>Kubernetes, Fargate</li>
        <li>CI/CD</li>
        <li>OAuth 2.0 </li>
        <li>Microservices, gRPCs</li>
        <li>Streaming Services: Kafka, Kinesis</li>
        <li>Cloud Storage: EBS, s3</li>
    </ul>
    <span>This site is actually maintained by a few of these things.</span>
</div>
